/*pop up*/
#backgroundPopup{
display:none;
position:fixed;
_position:fixed /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
cursor:wait;
background:#000000;
border:1px solid #cecece;
z-index:103;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/ 
width:380px;
background:#FFFFFF;
border-radius:5px;
z-index:104;
padding:10px;
font-size:12px;
}
#popupContact .error{
	color:#FF0000;
}
#popupContact td{
}
#popupContactClose{
                font-size:14px;
                line-height:14px;
                right:6px;
                cursor:pointer;
                top:4px;
                position:absolute;
                color:#6fa5fd;
                font-weight:700;
                display:block;
}